<div class="p-5">
  <div
    class="make-center bg-white rounded p-4 w-25 text-black fw-semibold lh-3"
    style="--bs-bg-opacity: 0.6"
  >
    <header>
      <h3 class="fw-semibold">Sign in</h3>
    </header>
    <main>
      <div>
        <form class="col py-2" #loginForm="ngForm" (ngSubmit)="submitForm()">
          <div class="row-md-6 mb-4">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              required
              [class.is-invalid]="email.touched && email.invalid"
              [class.is-valid]="email.touched && email.valid"
              class="form-control form-control-sm"
              id="email"
              name="email"
              placeholder="name@example.com"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [(ngModel)]="userEmail"
              #email="ngModel"
            />

            <div class="invalid-feedback position-absolute">Invalid email</div>
          </div>
          <div class="row-md-6 mb-4">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              required
              [class.is-invalid]="password.touched && password.invalid"
              [class.is-valid]="password.touched && password.valid"
              class="form-control form-control-sm"
              id="password"
              name="password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$"
              placeholder="password"
              [(ngModel)]="userPassword"
              #password="ngModel"
            />

            <small
              style="z-index: 1"
              class="invalid-feedback position-absolute bg-white w-75 p-2 rounded lh-sm"
            >
              Password should be 8-10 characters long.<br />Password should
              contain atleast:<br />1 uppercase letter<br />1 lowercase
              letter<br />1 digit<br />1 special character
            </small>
          </div>
          <div class="mb-2">
            <small>
              <a [routerLink]="['../forgot-password']">Forgot password ?</a>
            </small>
          </div>
          <div>
            <button
              type="submit"
              [disabled]="loginForm.form.untouched || loginForm.form.invalid"
              class="btn btn-primary mb-3 w-100"
            >
              Sign in
            </button>
            <div class="text-center text-danger" *ngIf="error">
              {{error}}
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer class="d-flex flex-column align-items-center">
      <div>
        <small>
          Don't have an account ? Click here to
          <span><a [routerLink]="['../signup']">Sign up</a></span>
        </small>
      </div>
    </footer>
  </div>
</div>
