<style>
    img.one{
        height: 80px;
        width:1370px;
    }
</style>

<div>
    <img class="one" src="../assets/img/bannerimg.jpg" alt="">
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class = "navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        <li class = "nav-item">
            <a routerLink="cropitems" routerLinkActive="active" class="nav-link" >Cropitem List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="save-cropitem" routerLinkActive="active" class="nav-link" >Add Cropitem</a>
        </li>
    </ul>
</nav>



<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class = "footer">
    <div class = "container">
        <span></span>
    </div>
</footer>