<div class="row">
  <h2>Cropitem List</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Crop Name</th>
      <th>Crop Type</th>
      <th>Crop Quantity</th>
      <th>Crop Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cropitem of cropitems">
      <td>{{ cropitem.name }}</td>
      <td>{{ cropitem.type }}</td>
      <td>{{ cropitem.qnt }}</td>
      <td>{{ cropitem.price }}</td>

      <td *ngIf="userIsFarmerFlag">
        <button
          (click)="updateCropitem(cropitem.id)"
          class="btn btn-outline-primary"
        >
          Update
        </button>
        <button
          (click)="deleteCropitem(cropitem.id)"
          class="btn btn-outline-danger"
          style="margin-left: 10px"
        >
          Delete
        </button>
        <button
          (click)="cropitemDetails(cropitem.id)"
          class="btn btn-outline-primary"
          style="margin-left: 10px"
        >
          View
        </button>
      </td>

      <td *ngIf="!userIsFarmerFlag">
        <button
          class="btn btn-outline-primary"
        >
          Unsubscribe
        </button>
        
        <button
          (click)="cropitemDetails(cropitem.id)"
          class="btn btn-outline-primary"
          style="margin-left: 10px"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="container">
  <router-outlet></router-outlet>
</div>
