
body{

    background-image: url('https://wallpapercave.com/wp/eytxmaY.jpg');
    background-size:100%;
}


span{
    color: red;
    font-size:medium;
}

#title1{
    background-image: url('https://i1.wp.com/media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif?resize=500%2C281&ssl=1');
    background-size:100%;
}

h2{
    padding-left: 100px;
    color: white;
}

#back{
    padding-top: 10px;
}

.title{
    font-weight: 700;
    font-size: larger;
}