<div class="position-relative d-flex gap-2 pt-1">
  <a class="nav-link" routerLink="profile/{{ userId }}">
    <button type="button" class="btn btn-primary">MY PROFILE</button>
  </a>

  <a   *ngIf="userType" class="nav-link" routerLink="update">
    <button type="button" class="btn btn-primary">UPDATE DETAILS</button>
  </a>

  <a   *ngIf="userType==false" class="nav-link" routerLink="admin/homepage">
    <button type="button" class="btn btn-primary">All Users Record</button>
  </a>


</div>
<router-outlet></router-outlet>


