img{
    width:150px;
   padding-left: 40px;
   padding-top: 40px;
}

.card{
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 8px 6px rgb(175, 174, 174);
}

h2{
    padding-left: 20px;
}

.h4{
    padding-left: 45px;
  
}

#updatebtn{
    padding-left: 25px;
}

body{
     background-image: url('https://wallpapercave.com/wp/wp9212197.jpg');
    /* background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
    background-size: 100%;
   filter:saturate(150%);
}