

<h2>Profile</h2>
<div  class="container-fluid">
 <div class="row">  
     
  <div class="col-sm-2">
    <div class="card" style="width: 12rem; height:14rem; ">
     <img src="https://tse4.mm.bing.net/th?id=OIP.awAiMS1BCAQ2xS2lcdXGlwHaHH&pid=Api&P=0&w=169&h=162" class="card-img-top" alt="...">
     <div class="card-body">

       <h4 class=" text-center">{{user.userName}}</h4>
       <br>
      
      </div>
     
      <a  class="btn btn-primary" id="profile" routerLink="/user/update/{{user.userName}}" role="button">update profile</a>
   </div>
  
  </div>

  <div  class="col-sm-5">
    <div class="card" style="width: 30rem;">
      <h4 class=" text-center" style="background-color: rgb(185, 221, 245);">User Details</h4>
      <div class="card-body">
          
         <div class="row">
           <div class="col-sm-5">
              <h6 class="mb-0">User Type  :</h6>
           </div>
           <div class="col-sm-7 text-secondary">
               {{user. userType}}
           </div>
           <hr>   

            <div class="col-sm-5">
               <h6 class="mb-0">Full Name  :</h6>
            </div>
            <div class="col-sm-7 text-secondary">
                {{user.userFullName}}
            </div>
            <hr> 

             
           <div class="col-sm-5">
            <h6 class="mb-0"> Username :</h6>
           </div>
           <div class="col-sm-7 text-secondary">
             {{user.userName}}
           </div>
           <hr>

            <div class="col-sm-5">
               <h6 class="mb-0">Mobile number  :</h6>
            </div>
            <div class="col-sm-7 text-secondary">
                {{user.mobileNo}}
            </div>
           <hr>

      
            <div class="col-sm-5">
               <h6 class="mb-0">Email Id  :</h6>
            </div>
            <div class="col-sm-7 text-secondary">
                   {{user.emailId}}
            </div>
      
           <hr>

         </div>

      </div>
    </div>
  </div>

  <div  class="col-sm-5">


    
  <div class="card" style="width: 31rem;">
    <h4 class=" text-center" style="background-color: rgb(185, 221, 245);">Account Details</h4>
    <div class="card-body">
      
       <div class="row">
         <div class="col-sm-5">
            <h6 class="mb-0">Account No :</h6>
         </div>
         <div class="col-sm-7 text-secondary">
             {{bank.accountNo}}
         </div>
         <hr>   

          <div class="col-sm-5">
             <h6 class="mb-0">Account Holder Name  :</h6>
          </div>
          <div class="col-sm-7 text-secondary">
              {{bank.accountHolderName}}
          </div>
          <hr> 

           
         <div class="col-sm-5">
          <h6 class="mb-0">Bank Name :</h6>
         </div>
         <div class="col-sm-7 text-secondary">
           {{bank.bankName}}
         </div>
         <hr>

          <div class="col-sm-5">
             <h6 class="mb-0">Bank Branch  :</h6>
          </div>
          <div class="col-sm-7 text-secondary">
              {{bank.bankBranch}}
          </div>
         <hr>

          <div class="col-sm-5">
             <h6 class="mb-0">IFSC Code   :</h6>
          </div>
          <div class="col-sm-7 text-secondary">
                 {{bank.bankIFSC}}
          </div>
    
         <hr>

       
       </div>

    </div>
  </div>

 

  </div>



</div>

<div class="row">

  <div class="col-sm-2">

  </div>

  <div class="col-sm-10">

  <div class="card" style="width: 30rem;">
    <h4 class=" text-center" style="background-color: rgb(185, 221, 245);">Address Details</h4>
    <div class="card-body">
       <div class="row">
         <div class="col-sm-5">
            <h6 class="mb-0">House no :</h6>
         </div>
         <div class="col-sm-7 text-secondary">
             {{address.houseNo}}
         </div>
         <hr>   

          <div class="col-sm-5">
             <h6 class="mb-0">Street Name  :</h6>
          </div>
          <div class="col-sm-7 text-secondary">
              {{address.streetName}}
          </div>
          <hr> 

           
         <div class="col-sm-5">
          <h6 class="mb-0">Locality Name :</h6>
         </div>
         <div class="col-sm-7 text-secondary">
           {{address.localityName }}
         </div>
         <hr>

          <div class="col-sm-5">
             <h6 class="mb-0">Pincode  :</h6>
          </div>
          <div class="col-sm-7 text-secondary">
              {{address.pincode}}
          </div>
         <hr>

          <div class="col-sm-5">
             <h6 class="mb-0">City  :</h6>
          </div>
          <div class="col-sm-7 text-secondary">
                 {{address.city}}
          </div>
          <hr>

          <div class="col-sm-5">
            <h6 class="mb-0">State  :</h6>
         </div>
         <div class="col-sm-7 text-secondary">
                {{address.state}}
         </div>
         <hr>

         <div class="col-sm-5">
          <h6 class="mb-0">Country  :</h6>
       </div>
       <div class="col-sm-7 text-secondary">
              {{address.country}}
       </div>

       
       </div>

    </div>
  </div>
</div>

</div>



</div>


 

 