<div class="positition-relative">
  <div
    class="position-absolute top-50 start-50 translate-middle bg-secondary rounded p-4 w-25"
    style="--bs-bg-opacity: 0.3"
  >
    <header class="text-center mb-3">
      <h3>Enter OTP</h3>
      <small >An OTP has been sent to your mobile number {{phoneNumber}}</small>
    </header>
    <main>
      <div>
        <form action="">
          <div class="d-flex gap-2 mb-3">
            <input
              type="text"
              maxlength="1"
              class="form-control w-25 text-center"
              aria-label="OTP"
              aria-describedby="basic-addon1"
              pattern="^[0-9]"
            />
            <input
              type="text"
              maxlength="1"
              class="form-control w-25 text-center"
              aria-label="OTP"
              aria-describedby="basic-addon1"
              pattern="^[0-9]"
            />
            <input
              type="text"
              maxlength="1"
              class="form-control w-25 text-center"
              aria-label="OTP"
              aria-describedby="basic-addon1"
              pattern="^[0-9]"
            />
            <input
              type="text"
              maxlength="1"
              class="form-control w-25 text-center"
              aria-label="OTP"
              aria-describedby="basic-addon1"
              pattern="^[0-9]"
            />
          </div>
          <div>
            <button class="btn btn-primary w-100">Validate OTP</button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
