<div class="positition-relative">
  <div
    class="position-absolute top-50 start-50 translate-middle bg-secondary rounded p-4 w-25"
    style="--bs-bg-opacity: 0.3"
  >
    <header>
      <h3>Reset Password</h3>
    </header>
    <main>
      <div>
        <form action="">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Enter new password</label
            >
            <input
              type="password"
              class="form-control form-control-sm"
              id="exampleFormControlInput1"
              placeholder="Enter password"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Re-enter new password</label
            >
            <input
              type="password"
              class="form-control form-control-sm"
              id="exampleFormControlInput1"
              placeholder="Re-enter password"
            />
          </div>
          <div>
            <button type="button" class="btn btn-primary mb-3 w-100">
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
