td{
    text-align: center;
     margin-top: 5px;
     height: 5px;
     font-size: 17px;
}
th{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

  
}

