
.div1{
   text-align:center;
}

a{
    margin-left: 300px;
}

.title{
    padding-left: 300px;
    background-color:rgb(72, 195, 239) ;
    font-weight: 500;
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;


}

#submit{
    margin-left: 450px;
}

body{
    /* background-image: url('https://png.pngtree.com/back_origin_pic/04/48/50/84cd2a9fbc6cbd5522b2f048a56703a8.jpg'); */

    background-image: url('https://wallpapercave.com/wp/eytxmaY.jpg');
    background-size:100%;
}


span{
    color: red;
}