<div class="positition-relative">
  <div
    class="position-absolute top-50 start-50 translate-middle bg-secondary rounded p-4 w-auto"
    style="--bs-bg-opacity: 0.3"
  >
    <h3>Sign up</h3>
    <div>
      <form action="">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input
            type="email"
            class="form-control form-control-sm"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Password</label
          >
          <input
            type="password"
            class="form-control form-control-sm"
            id="exampleFormControlTextarea1"
            placeholder="password"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Full Name</label
          >
          <input
            type="text"
            class="form-control form-control-sm"
            id="exampleFormControlTextarea1"
            placeholder="John Doe"
          />
        </div>
        <button type="button" class="btn btn-primary mb-3 w-100">
          Sign up
        </button>
      </form>
    </div>
    <div class="d-flex ">
      <small>
        Already have an account ? Click here to
        <span><a [routerLink]="['../signin']">Sign in</a></span>
      </small>
    </div>
  </div>
</div>
